.window.window--white-window{ draggable: "true" }
  = render "window_toolbar", title: "Contact"
  .window__content
    %section
      %article.column-30
        = image_tag "me.jpg"
      %article.column-50
        %p
          %span
            Email:
          =link_to "kellyecodes@gmail.com", "mailto:kellyecodes@gmail.com", target: "_blank"
        %p
          %span
            Phone:
            615.476.3685
        %p
          %span
            Location:
          =link_to "Brooklyn, NY 11225", "https://goo.gl/maps/RtKj7RuYuyG2", target: "_blank"
        %p
          %span
            LinkedIn:
          =link_to "Kellye Greene", "https://www.linkedin.com/in/kellyegreene", target: "_blank"
        %p
          %span
            Twitter:
          =link_to "@eclectusmedia", "https://twitter.com/eclectusmedia", target: "_blank"
        %p
          %span
            AngelList:
          =link_to "Kellye Greene", "https://angel.co/kellye-greene", target: "_blank"
        %p
          %span
            Blog:
          =link_to "@eclectusmedia", "https://medium.com/@eclectusmedia", target: "_blank"
        %p
          %span
            Github:
          =link_to "drakeltheryuujin", "https://github.com/drakeltheryuujin", target: "_blank"
        %p
          %span
            Skype:
          =link_to "drakeltheryuujin", "skype:drakeltheryuujin?call", target: "_blank"
