.window.window--white-window{ draggable: "true" }
  = render "window_toolbar", title: "Contact"
  .window__content
    %section
      %article.column-30
        = image_tag "me.jpg"
      %article.column-30
        %p
          Contact
      %article.column-30
        %p
          Stuff
