.window.window--white-window{ draggable: "true" }
  = render "window_toolbar", title: "Start"
  .window__content
    %section
      %article#start_window
        .logo 
          %h1
            = image_tag "mohawkgreene.svg"
          %h2 Welcome to my innanetz portfolio

