.window.window--black-window{ draggable: "true" }
  = render "window_toolbar", title: "Terminal"
  .window__content
    %section
      %article
        .instructions    
          Type "about", "work", or "contact"
        .command-line
          %span
            localhost:kellye_greene
          = Time.now.utc.strftime("%T")
          %span.branch
            (search)
        %input.command{ type: "text", placeholder: "Type command to continue"}
