.window.window--black-window{ draggable: "true" }
  = render "window_toolbar", title: "Terminal"
  .window__content
    %section
      %article#terminal_window
        .instructions
          Type "bio", "portfolio", or "contact"
      %article#terminal_search
        = render "command_line"
