.window.window--black-window{ draggable: "true" }
  = render "window_toolbar", title: "Terminal"
  .window__content
    %section
      %article#terminal_window
        .instructions
          Type "bio", "work", or "contact"
        = render "command_line"
