.window__toolbar
  %ul.window__toolbar__buttons
    %li 
      %a{ href:"#", title: "exit" }
    %li
      %a{ href:"#", title: "minimize" }
    %li
      %a{ href:"#", title: "maximize" }
  %span
    name of the window
  %div

