.window__toolbar.window__toolbar--beveled
  %ul.window__toolbar__buttons
    %li 
      %a.close-btn{ title: "close" }
    %li
      %a.min-btn{ title: "minimize" }
    %li
      %a.max-btn{ title: "maximize" }
  %span{ title: title}
    = title
  %div

