.window.window--black-window{ draggable: "true" }
  .window__toolbar
    %ul.window__toolbar__buttons
      %li 
        %a{ href:"#", title: "exit" }
      %li
        %a{ href:"#", title: "minimize" }
      %li
        %a{ href:"#", title: "maximize" }
    %span
      name of the window
    %div
  .window__content
    .command-line
      %span
        localhost:kellye_greene
      = Time.now.utc.strftime("%T")
      %span.branch
