//List styles
@mixin inline-list {
  float: left;
  list-style: none;
}

//Window Styles
@mixin window-toolbar {
  @extend .group;
  background: $window-toolbar-bg;
  padding: 4px 10px;
  color: $window-toolbar-text;
  display: table;
  width: 100%;

  &.window__toolbar--beveled {
    border-bottom: 1px solid $window-toolbar-bottom;
    border-left: 1px solid  $window-toolbar-sides;
    border-right: 1px solid  $window-toolbar-sides;
    border-top: 1px solid  $window-toolbar-top;
  }

  a {
    color: $window-toolbar-text;
  }

  ul {
    margin: 0;
    padding: 0;

    &.window__toolbar__buttons {
      display: table-cell;
      width: 51px;
    }
  } 
  li {
    @include inline-list;
  }
  > span {
    display: table-cell;
    padding: 0 20px;
    text-align: center;
  }
  > div {
    display: table-cell;
    width: 51px;
  }
}

@mixin column {
  float: left;
  img {
    max-width: 100%;
  }
  + .column-20, 
  + .column-25, 
  + .column-30, 
  + .column-50 {
    padding-left: 14px;
    &:last-child {
      padding-right: 14px;
    }
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
} 
