$button-red: #d92c2c;
$button-yellow: #d7d94b;
$button-green: #6ad970;

$window-bg: #e0e0e0;
$window-toolbar-text: #00002e;

$content-bg-black: #2b303b;
$content-accent-gray: #c0c5ce;
$content-accent-peach: #c98770;
$content-accent-green: #98be8c;
$content-accent-red: #b5616a;
