$button-red: #f16055;
$button-yellow: #febe10;
$button-green: #49b749;

$button-border-red: #e33f32;
$button-border-yellow: #e2a225;
$button-border-green: #20b24b;

$window-toolbar-bg: #e0e0e0;
$window-toolbar-text: #00002e;
$window-toolbar-sides: #d6d3d6;
$window-toolbar-top: #fff;
$window-toolbar-bottom: #b6b5b6;

$window-filter-border: #cccccc;
  

$content-bg-black: #2b303b;
$content-accent-gray: #c0c5ce;
$content-accent-peach: #c98770;
$content-accent-green: #98be8c;
$content-accent-red: #b5616a;
$content-accent-blue: #609;
$content-accent-purple: #1a0dab;

$content-text-color: #808080;
$content-bg-white: #fff;
$content-highlight-gray: #f3f6fa;
$content-hover-blue: #3c77d4;
