$( function() {
  var halfScreenWidth = $(window).width() / 2

  $(document).keypress(function(event) {
    var value = $("#terminal_search").val()
    var keycode = event.keyCode || event.which;
    var leftPosition = Math.floor(Math.random() * halfScreenWidth) + 1  

    if(keycode == '13') {
      $("#terminal_window").append('<div class="bash-input">'+ value +'</div>')

      if (value == "bio" || value == "portfolio" || value == "contact") {
        $("#terminal_search").val("")
        $("#window_" + value).parent().show().css("left", leftPosition)
        $(".dock ul li#dock_item_" + value).addClass("active")
      } else {
        $("#terminal_window").append('<div class="incorrect-input">bash: '+ value +' command not found</div>')
        $("#terminal_search").val("")
      }
      $("#terminal_window").append(<%= escape_javascript(
        Haml::Engine.new(File.read(File.join(Rails.root, 'app/views/windows/',
        '_command_line.html.haml')))) %>);
    }
  });

});

