.dock {
  bottom: 0;
  position: fixed; left: 50%; float: left;
  z-index: 2;
  
  ul {
    padding: 15px 35px;
    margin:0;
    position: relative; 
    left: -50%; 
    float: left;
    z-index: 2;
    max-width: 150%;
    display: table;
    
    li {
      @include inline-list;
      width: 54px;
      height: 54px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 54px;
        height: 54px;
      }
    }
  }
  .dock__background {
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='10' /></filter></svg>#svgMask");
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -50%;
    border-radius: 5px 5px 0 0;
  }
}
