.window {
  display: table;
  position: absolute !important;
  width: 50%;
  box-shadow: 0px 10px 15px rgba(50, 50, 50, .5);
  z-index: 2;

  .window__toolbar {
    @include window-toolbar;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 5px 5px 0 0;

    .window__toolbar__buttons {
      @extend .group;

      li {
        &:nth-child(1) a{
          background: $button-red;
          border: 1px solid $button-border-red;
        }
        &:nth-child(2) a{
          background: $button-yellow;
          border: 1px solid $button-border-yellow;
        }
        &:nth-child(3) a{
          background: $button-green;
          border: 1px solid $button-border-green;
        }
        a {
          display: block;
          border-radius: 12px;
          width: 12px;
          height: 12px;
          margin-right: 5px;
        }
      }
    }
  }

}

.window--black-window {

  .window__content {
    background: $content-bg-black;
    color: $content-accent-gray;
    border: 1px solid lighten( $content-bg-black, 5% );
    border-top: none; 

    a {
      color: $content-accent-green;
    }

    .command-line {
      p {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      span {
        color: $content-accent-red;
      }
      .branch {
        color: $content-accent-peach;
      }
    }
  }
  input.command:-moz-placeholder, input.command::-moz-placeholder, input.command:-ms-input-placeholder, input.command::-webkit-input-placeholder {
    color: $content-accent-gray;    
  }
}

.window--white-window {

  .window__content {
    background: $content-bg-white;
    color: $content-text-color;
    border: 1px solid darken( $content-bg-white, 5% );
    border-top: none; 

    a {
      color: $content-accent-blue;
    }
    a:visited {
      color: $content-accent-purple;
    }

    .display-list__item:nth-child(odd) {
      background: $content-highlight-gray;
    }
  }
}


.window__content {
  @extend .group;
  font-size: 14px;
  height: 100%;
  margin-top: 28px;
  border-radius: 0 0 5px 5px;
  min-width: 320px;
  min-height: 320px;
  position: relative;

  > section {
    padding: 14px;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
  }
}

.command-line {
  width: 260px;
  display: inline-block;
}

input.command {
  background: none;
  border: none;
  font-size: 14px;
  color: #ccc;
  text-shadow: none;
  outline: none;
  -webkit-text-fill-color: initial;
  display: inline-block;
  min-width: 285px;
}
